.page_title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: revert;
  margin-top: 25px;
  padding-top: 20px;
  font-size: 30px;
}
.page_list {
  margin: 0 auto;
  list-style: none;

  display: flex;
  width: 100%;
  height: auto;
  // padding: 10px;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  &-title {
    font-size: 20px;
    color: #fff;
  }
}
.page_list_item {
  list-style: none;
  max-width: 240px;
  width: 100%;
  transition: all 0.2s linear;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.329);
    color: #ffffff;
  }
}
.page_list_link {
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s linear;
  font-weight: 600;
  &:hover {
    color: #fff;
  }
}
