body{
        background: #ddd;
}
.page_title{
    border-top: 1px solid;
  color:  #2f588b;
   text-align: center;
   margin-top: 25px;
   padding-top: 20px;
}
.page_list {
    margin: 0 auto;
        list-style: none;
            background-color: #ffffff;
            padding: 10px;
                display: flex;
                    width: 100%;
                    height: auto;
                    max-width: 1200px;
                    flex-wrap: wrap;
                    justify-content: space-around;
}
.page_list_item{
    max-width: 240px;
        width: 100%;
}
.page_list_link{
    padding: 3px 5px;
    text-decoration: none;
        font-size: 18px;
        color: black;
     font-weight: 600;
}
.page_list_link:hover{
    transition: all 0.3s linear;
    border-radius:3px ; 
    text-decoration:underline;
    background-color: rgb(255, 255, 255);
}
