
* {
  box-sizing: border-box;
  font-weight: 200;
}
h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Poppins', Arial, Helvetica, sans-serif fantasy;
}

body {
  background: #11192e;
  color: #fff;
  margin: 0;

  font-family: 'Prompt', sans-serif;
}
a {
  color: rgba(235, 235, 235, 0.733);
  font-weight: 100;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
.container {
  margin: 0 10px;
}
p {
  margin: 0;
}

button {
  margin-left: 15px;

  background: azure;
  padding: 3px 25px;
  color: #000;
  border: 1px solid #ffffff;

  position: absolute;
  font-size: 16px;
  transition: all 200ms ease-in;
  cursor: pointer;
}
